.screen-header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 0px;
    background-color: white;
    position: fixed;
    top: 20px;
    width: 90%;
    z-index:3;
}
.screen-header__title{
    font-size: 1.7em;
    font-weight: 700;
}
.screen-header__icon{
    font-size: 1.2em;
}
.screen-header__icon i:first-of-type{
    margin-right: 15px;
}
.screen-header__icon i:nth-of-type(2){
    margin-right: 15px;
}